footer {
    background-color: #333;
    color: $primary-color;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
}

.footer-column h4 {
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ddd;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-social a {
    margin: 0 10px;
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: salmon;
   
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: $primary-color;
}